.button {
  padding: 6px 25px;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.1s;
}

.button:hover {
  opacity: 0.8;
}

.filled-primary {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--white-color);
}

.outline-primary {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.filled-secondary {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  color: var(--white-color);
}

.outline-secondary {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.filled-third {
  background-color: var(--white-color);
  border: 2px solid var(--white-color);
  color: var(--secondary-color);
}

.outline-third {
  background-color: transparent;
  border: 2px solid var(--white-color);
  color: var(--white-color);
}

.icon-button {
  padding: 6px 12px !important;
}
